<mat-card class="login-container">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="alert">
            @if (error) {
            <mat-error class="alert" color="warn">{{ error }}</mat-error>
            }
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="form-group" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput id="email" type="email" formControlName="email" name="email" required />
                @if (loginForm.get('email')?.hasError('required')) {
                <mat-error>Email is required</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="form-group" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput id="password" type="password" formControlName="password" name="password" required />
                @if (loginForm.get('password')?.hasError('required')) {
                <mat-error>Password is required</mat-error>
                }
            </mat-form-field>
            <div class="form-group">
                <a routerLink="/register">Don't have an account? Register here</a>
            </div>
            <div class="form-group">
                <button mat-raised-button color="primary" type="submit">Login</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>